@model maturigo.Models.ViewModels.TrialIndexModel
@{
	for (int i = 0; i < Model.Exams.Count; i++)
	{
		<h2>@Model.Exams[i].Title</h2>
		<a href="@Url.Action("Trying", "Trial", new {id = Model.Exams[i].Id})"><button>Open</button></a>
	}
}