@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Exam" asp-action="Create">
        <button type="button" class="btn btn-warning">Create Exam</button>
    </a>
    <a asp-controller="Question" asp-action="Create">
        <button type="button" class="btn btn-warning">Create Question</button>
    </a>
    <a asp-controller="Answer" asp-action="Index">
        <button type="button" class="btn btn-warning">Index/Create Answer</button>
    </a>
</div>
