@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Exam" asp-action="Create">
        <button type="button" class="btn btn-warning">Create Exam</button>
    </a>
    <a asp-controller="Question" asp-action="Create">
        <button type="button" class="btn btn-warning">Create Question</button>
    </a>
    <a asp-controller="Answer" asp-action="Create">
        <button type="button" class="btn btn-warning">Index/Create Answer</button>
    </a>
    <a asp-controller="Trial" asp-action="Index">
        <button type="button" class="btn btn-warning">Trials</button>
    </a>
</div>
